@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::backdrop {
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;

}
.app {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.light {
  --bg-color: hsl(236, 33%, 92%);
  --bg-list: hsl(0, 0%, 98%);
  --active-text: hsl(220, 98%, 61%);
  --drag-clr: hsl(236, 9%, 61%);
  --todo-clr: hsl(236, 9%, 61%);
  --todo-clor: hsl(235, 21%, 11%);
  --active-clr: hsl(236, 9%, 61%);
  --com-to: hsl(233, 11%, 84%);
}
.dark {
  --bg-color: hsl(235, 21%, 11%);
  --bg-list: hsl(235, 24%, 19%);
  --active-text: hsl(220, 98, 61%);
  --drag-clr: hsl(234, 11%, 52%);
  --todo-clr: hsl(237, 14%, 26%);
  --active-clr: hsl(234, 11%, 52%);
  --todo-clor: hsl(234, 39%, 85%);
  --com-to: hsl(233, 14%, 35%);
}
